<div id="rank-menu">
	<ul>
		<li><a href="/rankings">Leaderboard</a></li>
		<li><a href="/rankings/week">This week</a></li>
		<li><a href="/rankings/today">Today</a></li>
		<li><a href="/rankings/friends">Freinds</a></li>
		<li><a href="/badges">Badges</a></li>
		<div class="clear-fix"></div>
	</ul>
	<div class="clear-fix"></div>
</div>