<% @page_title = "Rankings this week" %>
<h1 class="mrg_head">Who rocked this week</h1>
<%= render :partial => 'rank_menu'%>

<div class="wrap">
	<%= print_rankings_this_week @week_ranking %>
</div>

