<% @page_title = "admin | Create test from hash" %>

<h1 class="mrg_head">Create test from Hash</h1>

<div class="wrap">
	<label><strong>Course: </strong></label> <%= @course.title %> 
	<br /><br />
	<form method = "post" action = "/admin/process_hash_test" >
		<input type="hidden" name="course_id" value="<%= @course.id %>">
		<label><strong>Paste Hash array of questions here:</strong></label><br />

		<textarea name="questions" style="width:100%; height:400px;"></textarea>
		<br />
		<%= submit_tag("Save test") %>
		<br />
		<br />
	</form>

</div>