<h1 class="mrg_head">Admin area</h1>

<div class="wrap">
	<ul>
		<li><%= link_to "Subjects", :action => "list_subject"%></li>
		<li><%= link_to "Tests / Courses", :action => "list_course"%></li>
		<li><%= link_to "Books / Handout", :action => "list_book"%></li>
	</ul>
</div>