<% @page_title = "Add new book" %>
<h1 class="mrg_head">Add new book/handout</h1>

<div class="wrap">

	<%= render(:partial => 'shared/error_message', :locals => {:object => @book}) %>

	<%= form_for :book , :url => {:action => 'create_book'} ,  :html => { :multipart => true } do |f| %>

		<%= render :partial => 'book_form' , :locals =>{:f => f} %>

		<%= f.submit("Add book") %>

	<% end %>

</div>
