<% @page_title = @book.title %>

<h1 class="mrg_head"><%= @book.title %></h1>



<iframe 
src="https://docs.google.com/viewer?url=http://play.myrevisionguide.com/tag/files/1373363870Getting+Started.pdf&embedded=true"
		style="border:none;width:100%;height:800px;"
		>
</iframe>

