<!-- library section -->
<div class="section-header">
	<div class="mrg-section-header">
    	<h2>Library</h2>
    </div>
    <div class="mrg-section-link">
    	<a href="#">View all subjects</a>
    </div>
    <div class="clear-fix"></div>
</div>

<table class="mrg-table">
	<tr>
    	<td>
       		<div class="thumbs">
            	<div class="mrg-thumb">
                	<div class="lib">
                    	<h4>Geography</h4>
                    </div>
                    <span>12 books</span>
                </div>
                <div class="mrg-thumb">
                	<div class="lib">
                    	<h4>Mathematics</h4>
                    </div>
                    <span>7 books</span>
                </div>
                <div class="mrg-thumb">
                	<div class="lib">
                    	<h4>Physics</h4>
                    </div>
                    <span>16 books</span>
                </div>
                <div class="mrg-thumb">
                	<div class="lib">
                    	<h4>Commerce</h4>
                    </div>
                    <span>10 books</span>
                </div>
            </div>               
        </td>
        <td class="mrg-spanner">
        	<div class="mrg-library"></div>
            <label>Your online library</label>
            <span>Organise all your notes and books in the cloud library</span>
        </td>
    </tr>
</table>
<!-- end library section -->