<!-- Ranking section -->
<div class="section-header">
	<div class="mrg-section-header">
    	<h2>Ranking</h2>
    </div>
    <div class="mrg-section-link">
    	
    </div>
    <div class="clear-fix"></div>
</div>

<table class="mrg-table">
	<tr>
        <td>
            <div class="thumbs">
                <div class="mrg-thumb">
                    <div>
                        <%= image_tag('badge-thumb.jpg') %>
                        <label>Badges</label>
                        <span>Earn badges for amazing performance</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                    <div>
                        <%= image_tag('leaderboard-thumb.jpg') %>
                        <label>Leaderboard</label>
                        <span>The best of all time</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                    <div>
                        <%= image_tag('rank_today-thumb.jpg') %>
                        <label>Today</label>
                        <span>On fire today</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                    <div>
                        <%= image_tag('rank_week-thumb.jpg') %>
                        <label>Week</label>
                        <span>Who rocked this week</span>
                    </div>
                </div>
            </div>
        </td>
    	<td class="mrg-spanner">
            <div class="mrg-ranking"></div>
            <label>Open competiton</label>
            <span>Get rewareded for revising and toping the leaderboard</span>
        </td>
    </tr>
</table>
</div>
<!-- end Ranking section -->