<h1 class="mrg_head">Subjects</h1>
<div class="wrap">

<div id="subject_list">
<ul>
<% @subjects.each do |subject| %>
	<li>
		<%= link_to image_tag(subject.image_thumb.url(:thumb)) , :action => 'quizzes', :id => subject.id %>
		<br />
		<div><a href = <%= "subject/quizzes/#{subject.id}#mrg_tests" %> class = "mrg_ajax_load" ><%= subject.name %></a></div>
		<span><%= pluralize(subject.published_courses.size, 'quiz') %></span>
	</li>

<% end %>
	<div class = "clear-fix"></div>
</ul>
</div>

</div>
