<h1 class="mrg_head">Ready for <%= @subject.name %> test? Select exercise.</h1>
<div id = "mrg_tests" class="wrap">

	<div class="t1"> 
		<%= link_to_function image_tag('back_btn.png') , "history.back()" %>
	</div>
	<div class="t2">
		<ul>
			<% courses = @subject.courses %>
			<% if courses.empty? %>
					<p>Ohhhh, can't find any <%= @subject.name %> quiz now, Please try me later</p>
			<% else %>
				<% courses.each do |course| %>
					<li>
						<%= link_to course.title, {:controller => 'play',
														:id => course.id} %>
						
				<% end %>
			<% end %>
		</ul>

	</div>
	<div class="clear-fix"></div>
</div>