<div id="edit-user-info">
		<div class = "left">
			<%= render :partial => 'edit_school' %>
			<%= render :partial => 'edit_motto' %>
		</div>
		<div class = "right">
			<div class = "wrap">
			we use facebook data therefore you don't have to edit
			most of your data from my revision guide. To change  
			your cover photo, names or profile picture, just change them from facebook and we will automatically update them.
			Also to add a new school you have to add it to your facebook education history and we will add it to the list of your schools.
			</div>
		</div>
		<div class="clear-fix"></div>
</div>