body{
	margin:0;
	padding:0;
	background-color:#F3F4F6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
a{
	text-decoration: none;
 	color: #333;
 	font-weight: bold;
}
h1,h2{
	font-size: 20px;
}
.clear-fix{
	clear:both;
}
.wrap{
	padding: 10px;
}
#wrapper{
	width:100%;
	height:100%;
}
#fixed-right-side-bar{
	background-color:#E8E8E8;
	border-left:1px solid #ABABAB;
	width:200px;
	position:fixed;
	right:0;
	top:0;
	height:100%;
	font-size: 11px;
	color: #333;
}
#fixed-right-side-bar h3{
	color: #fff;
	margin:0;
	padding: 5px 9px;
	background-color: #3B5998;
}
#fixed-right-side-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#fixed-right-side-bar ul li{
	padding:5px;
	position:relative;
}
#fixed-right-side-bar ul li:hover{
	background-color: #ccc;
}

#fixed-right-side-bar ul li .fb-name{
	display: inline-block;
	position: relative;
	top: -10px;
	left: 4px;
}
#fixed-right-side-bar ul li .fb-img img{
	max-width: 30px;
	max-height: 30px;
}

#fixed-right-side-bar ul li .fb-invite-tool-tip{
	border:1px solid #C0C0C0;
	background-color:#FFF;
	width:300px;
	position:absolute;
	left:-301px;
	top:0px;
	display:none;
	border-right:none;
}
#fixed-right-side-bar ul li .fb-invite-tool-tip img{
	max-width: 100px;
	max-height: 100px;
}

#fixed-right-side-bar ul li:hover .fb-invite-tool-tip{
	display:block;
}
#fixed-right-side-bar ul li .fb-invite-tool-tip:hover{
	display:block;
}
.fb-invite-tool-tip .wrap{
	padding:5px;
}
.fb-invite-tool-tip .wrap span{
	display:block;
}
.fb-invite-tool-tip .wrap span.fb-tooltip-name{
	font-weight:bold;
	color:#3B5998;
	margin-bottom:10px;
}
.fb-invite-tool-tip .wrap a.inv-btn{
	color:#FFF;
	background-color:#3B5998;
	display:inline-block;
	margin-top:20px;
	padding:7px 20px;
	font-weight:bold;
}
.fb-invite-tool-tip .wrap .fb-prof-medium{
	float:left;
	width:40%;
}
.fb-invite-tool-tip .wrap .fb-inv{
	float:left;
	width:60%;
}

#mrg-main{
	margin-right:200px;
	/*background-color:#CCC;*/
}

#mrg-page{
	width:960px;
	margin:0 auto;
	border:1px solid #F3F4F6;
}

#header{
	margin-top:10px;
	height:90px;
}

#header .logo{
	float:left;
	width:50%;
}
#header .logo .mrg-logo{
	float:left;
}
#header .logo .mrg-title{
	float:left;
}
#header .logo h1{
	display:inline-block;
	font-size:20px;
	color:#339900;
	margin-top: 0.8em;
	margin-left:1em;
}
#header .logo a{
color:#339900;
}
#header .links{
	float:right;
	width:50%;
}
#header .links ul{
	list-style-type:none;
}
#header .links ul li{
	float:left;
	border-right: 1px solid #999;
	padding:0 0.5em;
	line-height:10px;
}
#header .links ul li:last-child{
	border-right: none;
}
#header .links ul li a{
	font-size:11.4px;
	color:#339900;
	
}
#header .links .mrg-links{
	text-align:center;
	float:right;
}
#header .links .mrg-user-avatar{
	float:right;
	padding:10px;
	padding-right:0;
}
#header .links .mrg-user-avatar img{
	max-width: 50px;
	max-height: 50px;
	border: 1px solid #ccc;
}

#mrg-loading{
	visibility: hidden;
	text-align:center;
}

#mrg-content{
	width:100%;
	border:1px solid #BDBDBD;
	background-color:#F8F8F8;
	margin-bottom:5em;
	min-height:600px;
	-webkit-box-shadow: inset 0px 2px 3px 1px #D5D5D5;
	box-shadow: inset 0px 2px 3px 1px #D5D5D5;
}

#mrg-content .section-header{
	height:50px;
}
#mrg-content .section-header .mrg-section-header{
	float:left;
	width:70%;
}
h1.mrg_head{
	font-size:26px;
	font-weight:normal;
	color:#B8B8B8;
	margin:0.4em 0;
	padding: 0.4em;
	border-bottom: 1px solid #BDBDBD;
}
#mrg-content .section-header .mrg-section-header h2{
	font-size:30px;
	font-weight:normal;
	color:#B8B8B8;
	margin:0.4em;
}
#mrg-content .section-header .mrg-section-link{
	float:right;
	padding-right:15px;
	padding-top:35px;
}
#mrg-content .section-header .mrg-section-link a{
	color:#9B9B9B;
	font-size:13px;
	font-weight:bold;
}
#mrg-content .section-header .mrg-section-link a:hover{
	color:#030303;
}


#mrg-content .mrg-table{
	width:100%;
	border-top:1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;;
	border-collapse:collapse;
}

#mrg-content .mrg-table td{
	padding:0;
	vertical-align:top;
}
#mrg-content .mrg-table td:first-child{
	border-right: 1px solid #BDBDBD;
}
#mrg-content .mrg-table td.mrg-spanner{
	width:50%;
}
#mrg-content .mrg-table label{
	color:#333333;
	font-weight:bold;
	display:block;
	margin-left:10px;
}
#mrg-content .mrg-table span{
	display:block;
	margin-left:10px;
}
#mrg-content .mrg-table td .mrg-play{
	background-color:#339900;
	background-image:url(play.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:460px;
	height: 340px;
	margin:10px;
}
#mrg-content .mrg-table td .mrg-library{
	width:460px;
	height: 340px;
	margin:10px;
	background-image:url(library-thumb.jpg);
	background-repeat:no-repeat;
	background-position:center center;
}
#mrg-content .mrg-table td .mrg-ranking{
	width:460px;
	height: 340px;
	margin:10px;
	background-image:url(ranking-thumb.jpg);
	background-repeat:no-repeat;
	background-position:center center;
}
.thumbs{
}
.thumbs .mrg-thumb{
	width:49.5%;
	float:left;
	border:1px solid #999;
	height:200px;
	border-right:none;
	border-bottom:none;
}
.thumbs .mrg-thumb img{
	border:1px solid #C0C0C0;
	margin:	7px;
	width:220px;
	height:140px;
}
.thumbs .mrg-thumb .lib{
	width:220px;
	height:150px;
	background-color:#F3F4F6;
	border:1px solid #D5D5D5;
	margin:8px;
	background-image:url(lib-icon.png);
	background-repeat:no-repeat;
	background-position:left center;
	text-align:center;
}
.thumbs .mrg-thumb .lib h4{
	margin-top:5em;
	margin-left:1em;
}
.thumbs .mrg-thumb:first-child{
	border-top:none;
	border-left:none;
}
.thumbs .mrg-thumb:nth-child(2){
	border-top:none;
}
.thumbs .mrg-thumb:nth-child(3){
	border-left:none;
}
#subject_list{
}
#subject_list ul{
	list-style-type: none;
	padding: 0;
	margin:0;
}
#subject_list ul li{
	float: left;
	padding:0.5em;
}
#subject_list ul li img{
	border: 1px solid #999;
	width: 216px;
}

#mrg_tests{

}
#mrg_tests .t1{
	float: left;
	width: 15%;
	text-align: center;
}
#mrg_tests .t2{
	float: left;
	width: 84%;
	}
#mrg_tests .t2 ul{
	font-family: 'Marmelad', sans-serif;
	list-style-type: none;
	padding:0;
	margin: 0;
}
#mrg_tests .t2 ul li{
	max-width: 750px;
}
#mrg_tests .t2 ul li a{
	background-color: #EAEAEA;
	display: block;
	padding: 15px;
	margin: 7px 0;
	font-size: 16px;
	font-weight: normal;
}
#mrg_tests .t2 ul li a:hover{
	background-color: #339900;
	color: #fff;
}
a.btn{
	background-color: #ccc;
	padding: 5px 15px;
}
a.edit{
	font-weight:normal;
	color: #339900;
}
a.delete{
	font-weight: normal;
	color: #FF0000;
}

#mrg_admin_table{
	border: 1px solid #BDBDBD;
	border-collapse: collapse;
	width: 100%;
}
#mrg_admin_table th , #mrg_admin_table td{
	border: 1px solid #BDBDBD;
	padding: 10px;
} 
#mrg_admin_table th{
	background-color: brown;
	color: #fff;
}

/*styles apply to the play page only */

h1.score{
	color: #C60;
	text-align: center;
}
#mrg_qns{

}

#mrg_qns ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#mrg_qns ul li span.qns{
	font-family: 'Alef', sans-serif;
	line-height: 25px;
	color:#C60;
	font-weight:normal;
	font-size:22px;
	display:block;
	padding:0.5em;
	padding-bottom:0;
	margin-bottom: 10px;
}

#mrg_qns ul.chs li{
	background-color: #FBFBFB;
	font-family: 'Marmelad', sans-serif;
	color:#444444;font-weight:normal;
	padding:1.7em 1em;
	border-width:1px 0 0;border-top:1px solid #E0E0E0;
	font-size: 16px;
}
#mrg_qns ul.chs li:last-child{
	border-bottom:1px solid #CCC;
}
#mrg_qns ul.chs li:hover{
	background-color: #EBEBEB;
}
#mrg_qns ul.chs li.correct{
	color:#FFFFFF;
	background-color: #009900;
}
#mrg_qns ul.chs li.wrong{
	color:#FFFFFF;
	background-color: #FF0000;
}
#mrg_qns .qns{
	display: none;
}
#mrg_qns .first{
	display: block;
}

/* end play styles */