body{
	margin:0;
	padding:0;
	background-color:#F3F4F6;
	font-family: 'Arial', sans-serif;
	font-size:13px;
}
a{
	text-decoration: none;
 	color: #333;
 	font-weight: bold;
}
h1,h2{
	font-size: 20px;
}
.clear-fix{
	clear:both;
}
.wrap{
	padding: 10px;
}
#wrapper{
	width:100%;
	height:100%;
}
#fixed-right-side-bar{
	background-color:#E8E8E8;
	border-left:1px solid #ABABAB;
	width:200px;
	position:fixed;
	right:0;
	top:0;
	height:100%;
	font-size: 11px;
	color: #333;
}
#fixed-right-side-bar h3{
	color: #fff;
	margin:0;
	padding: 5px 9px;
	background-color: #3B5998;
}
#fixed-right-side-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#fixed-right-side-bar ul li{
	padding:1px;
	position:relative;
}
#fixed-right-side-bar ul li:hover{
	background-color: #ccc;
}

#fixed-right-side-bar ul li .fb-name{
	display: inline-block;
	position: relative;
	top: -10px;
	left: 4px;
}
#fixed-right-side-bar ul li .fb-img img{
	max-width: 30px;
	max-height: 30px;
}

#fixed-right-side-bar ul li .fb-invite-tool-tip{
	border:1px solid #C0C0C0;
	background-color:#FFF;
	width:300px;
	position:absolute;
	left:-301px;
	top:0px;
	display:none;
	border-right:none;

}
#fixed-right-side-bar ul li .fb-invite-tool-tip img{
	max-width: 100px;
	max-height: 100px;
}

#fixed-right-side-bar ul li:hover .fb-invite-tool-tip{
	display:block;
	z-index: 100 !important;
}
#fixed-right-side-bar ul li .fb-invite-tool-tip:hover{
	display:block;
}
.fb-invite-tool-tip .wrap{
	padding:5px;
}
.fb-invite-tool-tip .wrap span{
	display:block;
}
.fb-invite-tool-tip .wrap span.fb-tooltip-name{
	font-weight:bold;
	color:#3B5998;
	margin-bottom:10px;
}
.fb-invite-tool-tip .wrap a.inv-btn{
	color:#FFF;
	background-color:#3B5998;
	display:inline-block;
	margin-top:20px;
	padding:7px 20px;
	font-weight:bold;
}
.fb-invite-tool-tip .wrap .fb-prof-medium{
	float:left;
	width:40%;
}
.fb-invite-tool-tip .wrap .fb-inv{
	float:left;
	width:60%;
}

#mrg-main{
	margin-right:200px;
	/*background-color:#CCC;*/
}

#mrg-page{
	width:960px;
	margin:0 auto;
	border:1px solid #F3F4F6;
}

#header{
	margin-top:10px;
	height:90px;
	position: relative;
}

#header .logo{
	float:left;
	width:50%;
}
#header .logo .mrg-logo{
	float:left;
}
#header .logo .mrg-title{
	float:left;
}
#header .logo h1{
	display:inline-block;
	font-size:20px;
	color:#339900;
	margin-top: 0.8em;
	margin-left:1em;
}
#header .logo a{
color:#339900;
}
#header .links{
	float:right;
	width:50%;
}
#header .links ul{
	list-style-type:none;
}
#header .links ul li{
	float:left;
	border-right: 1px solid #999;
	padding:0 0.5em;
	line-height:10px;
}
#header .links ul li:last-child{
	border-right: none;
}
#header .links ul li a{
	font-size:11.4px;
	color:#339900;
	
}
#header .links .mrg-links{
	text-align:center;
	float:right;
}
#header .links .mrg-user-avatar{
	float:right;
	padding:10px;
	padding-right:0;
}
#header .links .mrg-user-avatar img{
	max-width: 50px;
	max-height: 50px;
	border: 1px solid #ccc;
}

#mrg-loading{
	display: none;
	text-align:center;
	position: absolute;
	top: 25px;
	left:35%;
}

#mrg-loading span{
	background-color: #CC9900;
	padding: 5px 15px;
	border-radius:5px;
}
#mrg-loading img{
	margin-top: 5px;
}
#mrg-content{
	width:100%;
	border:1px solid #BDBDBD;
	background-color:#F8F8F8;
	margin-bottom:5em;
	min-height:600px;
	-webkit-box-shadow: inset 0px 2px 3px 1px #D5D5D5;
	box-shadow: inset 0px 2px 3px 1px #D5D5D5;
	font-family: 'Open Sans', sans-serif;
	line-height: 15px;
}

#mrg-content .section-header{
	height:50px;
}
#mrg-content .section-header .mrg-section-header{
	float:left;
	width:70%;
}
h1.mrg_head{
	font-size:26px;
	font-weight:normal;
	color:#B8B8B8;
	margin:0.4em 0;
	padding: 0.4em;
	border-bottom: 1px solid #BDBDBD;
}
#mrg-content .section-header .mrg-section-header h2{
	font-size:30px;
	font-weight:normal;
	color:#B8B8B8;
	margin:0.4em;
}
#mrg-content .section-header .mrg-section-link{
	float:right;
	padding-right:15px;
	padding-top:35px;
}
#mrg-content .section-header .mrg-section-link a{
	color:#9B9B9B;
	font-size:13px;
	font-weight:bold;
}
#mrg-content .section-header .mrg-section-link a:hover{
	color:#030303;
}


#mrg-content .mrg-table{
	width:100%;
	border-top:1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;;
	border-collapse:collapse;
}

#mrg-content .mrg-table td{
	padding:0;
	vertical-align:top;
}
#mrg-content .mrg-table td:first-child{
	border-right: 1px solid #BDBDBD;
}
#mrg-content .mrg-table td.mrg-spanner{
	width:50%;
}
#mrg-content .mrg-table label{
	color:#333333;
	font-weight:bold;
	display:block;
	margin-left:10px;
}
#mrg-content .mrg-table span{
	display:block;
	margin-left:10px;
}
#mrg-content .mrg-table td .mrg-play{
	background-color:#339900;
	background-image:url(play.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:460px;
	height: 340px;
	margin:10px;
}
#mrg-content .mrg-table td .mrg-library{
	width:460px;
	height: 340px;
	margin:10px;
	background-image:url(library-thumb.jpg);
	background-repeat:no-repeat;
	background-position:center center;
}
#mrg-content .mrg-table td .mrg-ranking{
	width:460px;
	height: 340px;
	margin:10px;
	background-image:url(ranking-thumb.jpg);
	background-repeat:no-repeat;
	background-position:center center;
}
.thumbs{
}
.thumbs .mrg-thumb{
	width:49.5%;
	float:left;
	border:1px solid #999;
	height:200px;
	border-right:none;
	border-bottom:none;
}
.thumbs .mrg-thumb img{
	border:1px solid #C0C0C0;
	margin:	7px;
	width:220px;
	height:140px;
}
.thumbs .mrg-thumb .lib{
	width:220px;
	height:150px;
	background-color:#F3F4F6;
	border:1px solid #D5D5D5;
	margin:8px;
	background-image:url(lib-icon.png);
	background-repeat:no-repeat;
	background-position:left center;
	text-align:center;
}
.thumbs .mrg-thumb .lib h4{
	margin-top:5em;
	margin-left:1em;
}
.thumbs .mrg-thumb:first-child{
	border-top:none;
	border-left:none;
}
.thumbs .mrg-thumb:nth-child(2){
	border-top:none;
}
.thumbs .mrg-thumb:nth-child(3){
	border-left:none;
}
#subject_list{
}
#subject_list ul{
	list-style-type: none;
	padding: 0;
	margin:0;
}
#subject_list ul li{
	float: left;
	padding:1em 3.5em;
}
#subject_list ul li img{
	border: 1px solid #999;
	width: 216px;
}

#mrg_tests{

}
#mrg_tests .t1{
	float: left;
	width: 15%;
	text-align: center;
}
#mrg_tests .t2{
	float: left;
	width: 84%;
	}
#mrg_tests .t2 ul{
	font-family: 'Marmelad', sans-serif;
	list-style-type: none;
	padding:0;
	margin: 0;
}
#mrg_tests .t2 ul li{
	max-width: 750px;
}
#mrg_tests .t2 ul li a{
	background-color: #EAEAEA;
	display: block;
	padding: 15px;
	margin: 7px 0;
	font-size: 16px;
	font-weight: normal;
}
#mrg_tests .t2 ul li a:hover{
	background-color: #339900;
	color: #fff;
}
a.btn{
	background-color: #ccc;
	padding: 5px 15px;
}
a.edit{
	font-weight:normal;
	color: #339900;
}
a.delete{
	font-weight: normal;
	color: #FF0000;
}

#mrg_admin_table{
	border: 1px solid #BDBDBD;
	border-collapse: collapse;
	width: 100%;
}
#mrg_admin_table th , #mrg_admin_table td{
	border: 1px solid #BDBDBD;
	padding: 10px;
} 
#mrg_admin_table th{
	background-color: brown;
	color: #fff;
}

/*styles apply to the play page only */
#xa{
	visibility: hidden !important;
	display: none !important;
}
h1.score{
	color: #C60;
	text-align: center;
}
#mrg_qns{
	display: block;
}

#mrg_qns ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#mrg_qns ul li span.qns{
	font-family: 'Alef', sans-serif;
	line-height: 25px;
	color:#C60;
	font-weight:normal;
	font-size:22px;
	display:block;
	padding:0.5em;
	padding-bottom:0;
	margin-bottom: 10px;
}

#mrg_qns ul.chs li{
	background-color: #FBFBFB;
	font-family: 'Marmelad', sans-serif;
	color:#444444;font-weight:normal;
	padding:1.7em 1em;
	border-width:1px 0 0;border-top:1px solid #E0E0E0;
	font-size: 16px;
}
#mrg_qns ul.chs li:last-child{
	border-bottom:1px solid #CCC;
}
#mrg_qns ul.chs li:hover{
	background-color: #EBEBEB;
}
#mrg_qns ul.chs li.correct{
	color:#FFFFFF;
	background-color: #009900;
}
#mrg_qns ul.chs li.wrong{
	color:#FFFFFF;
	background-color: #FF0000;
}
#mrg_qns .qns{
	display: none;
}
#mrg_qns .first{
	display: block;
}
#timer{
	position: absolute;
	display: block;
	padding: 10px;
	font-size: 20px;
}

#mrg_play_results{
	margin: 1em 2em;
	display: none;
}
#mrg_play_results .left{
	width: 60%;
	float: left;
}
#mrg_play_results .right{
	width: 38%;
	float: right;
}
#mrg_play_results .right .earned-points{
	text-align: center;
}
#earned-points{
	font-size: 46px;
}
#res-outer{
	background-color:#CCC;
	border:1px solid #999;
	width:100%;
	height:20px;
}
#res-outer .red{
	background-color: #FF0000;
	color:#FFF;
}
#res-outer .green{
	background-color:#390;
	color:#FFF;
}
#res-outer .orange{
	background-color:#F90;
	color:#000;
}
#res-inner{
	width:0%;
	height:100%;
	text-align:right;
	font-weight: bold;
}
#mrg-out{
	margin: 1em 0;
	display: none;
}
#buttons{
	margin-top: 2em;
}
.rank-wrapper{
	width: 100%;
	background: #fff;
	border: 1px solid #ddd;
	margin: 10px 0;
	padding: 5px 0;
}
.rank-wrapper h3{
	margin: 2px 0 3px;
	padding: 2px 5px 7px;
	color: #333;
	font-weight: normal;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
}
.rank-wrapper .r-item{
	width:20%;
	float:left;
	text-align:center;
}
.rank-wrapper .r-item .u-rank{
	font-weight: bold;
	font-size: 14px;
	color: #393939;

}
.rank-wrapper .r-item .u-img img{
	border:1px solid #ccc;
	border-radius: 100px;
}
.rank-wrapper .fb-share{
	text-align: right;
	min-height: 15px;
	padding-right: 5px;
}
.fb-share a{
	font-size: 11px;
	color: #003366;
	font-weight: normal;
}


/* end play styles */


/* admin edit tests */

#mrg-admin-edit-qns{

}
#mrg-admin-edit-qns ol{
	margin: 0;
	padding-left: 20px;
}
#mrg-admin-edit-qns ul{
	list-style-type: none;
	margin-top: 0;
	padding: 0;
}
#mrg-admin-edit-qns  ol li.qsn{
	margin-top: 1.5em;
	color: #C60;
	font-size: 15px;
}
#mrg-admin-edit-qns  ul li.ch{
	color: #333;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	padding: 15px;
}
#mrg-admin-edit-qns  ul li.correct{
	background-color: #66CC66;
}
#mrg-admin-edit-qns  ul li a.edit{
	
}
/* end admin edit tests */

/* styles for the rankings pages */

#rank-menu{
	text-align: right;
	margin-top: -0.8em;
}
#rank-menu ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
	border: 1px solid #ccc; 
	border-top: none;
}
#rank-menu ul li{
	float: left;
}
#rank-menu ul li a{
	display: block;
	padding:0.5em 1.3em;
	border-right: 1px solid #ccc;
	font-weight: normal;
	background-color: #F5F5F5;
}
#rank-menu ul li a:hover{
	background-color: #EBEBEB;
}
#rank-menu ul li a:active{
	background-color: blue;
}

#rankings-list{

}
#rankings-list ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#rankings-list ul li{
	float: left;
	width: 280px;
	height: 110px;
	background-color: #fff;
	border:1px solid #ccc;
	margin: 1em;
	position: relative;
}
#rankings-list ul li .rank-item{
	padding: 5px;
}
#rankings-list ul li .rank-item .rank-image{
	float: left;
	width: 40%;
}
#rankings-list ul li .rank-item .rank-image img{

}
#rankings-list ul li .rank-item .rank-info{
	float: left;
	width: 60%;
}
#rankings-list .rank-info .rank-name{
	color: #003366;
	font-size: 14px;
}
#rankings-list .rank-info .rank-school{
	font-size: 11px;
	margin: 5px 0;	
}
#rankings-list .rank-info .rank-marks{
	margin: 5px 0;	
}
#rankings-list .rank-info .rank-position{
	position: absolute;
	bottom: 15px;
	right: 5px;
	font-size: 2em;
	color: #4d4d4d;
}
/* end of ranking styles */