<!DOCTYPE html>
<html>
<head>
  <title>My revision guide</title>
  <%= favicon_link_tag 'fav.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
	<div>
		<%= yield %>
	</div>
</body>
</html>